body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #43cea2;  
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2); 
    background: linear-gradient(to right, #185a9d, #43cea2); 

    
    color: #333;
  }
 
  header {
    background-color: #0056b3;   
    color: white;
    padding: 15px 20px;
    text-align: center;
  }
  header h1 {
    margin: 0;
    font-size: 24px;
  }
  nav {
    background-color: rgb(0, 255, 21);
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
  }
  nav a:hover {
    color: white;
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  h2 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
  }
  .info div {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
  }
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }